/* assets */

.logo{
    margin-left: 10px;
    width: 20%;
}

.imgPrincipal{
    width: 100%;
}

/* general */

.textoEncima{
    position: relative;
    margin-top: 40;
}


.contenedor{
    position: relative;
    text-align: center;
    background-repeat: 'no-repeat';
    background-size: 'auto';
}

/* Home */

.textoHome{
    
}

.boxHome {
    background-color: #bd8e42;
    opacity: 0.8;
    margin: 10px;
    margin-left: 50%;
    padding: 20px;
    border-radius: 15px;
}

/* Aloja */

.boxAlojamientoGrande{
    flex-direction: column;
    flex-wrap: wrap;
}

.boxAlojamiento {
    background-color: rgba(189, 142, 66, 0.7);
    text-align: center;
}

.boxTitulo{
    background-color: rgba(189, 142, 66, 0.7);
    height: 20%;
    width: 300px;
}


/* Footer */

.boxFix{
    margin: 10px;
}

.boxFooter{
    margin-left: -20;
}