/* assets */

.logo{
    margin-left: 10px;
    width: 20%;
}

.imgPrincipal{
    width: 100%;
}

/* general */

.textoEncima{
    position: relative;
    margin-top: 40;
}


.contenedor{
    position: relative;
    text-align: center;
    background-repeat: 'no-repeat';
    background-size: 'auto';
}

/* Home */

.boxHome {
    background-color: #bd8e42;
    opacity: 0.8;
    border-radius: 15px;
    margin: 10px
}

/* Aloja */

.boxAlojamientoGrande{
    flex-direction: column;
    flex-wrap: wrap;
}

.boxAlojamiento {
    background-color: rgba(189, 142, 66, 0.7);
    text-align: center;
}

.boxTitulo{
    background-color: rgba(189, 142, 66, 0.7);
    height: 20%;
    width: 300px;
}

/* inscripciones */

.boxInscripcionesGrande{
    margin: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.boxInscripciones{
    background-color: rgba(189, 142, 66, 0.7);
    box-shadow: 0px 3px grey;
    border-radius: 15px;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.input{
    border-radius: 10px ;
    color: black;
    border: 0px;
    border-bottom: 1px solid black;
    height: 25px;
    width: 90%;
}

/* Footer */

.boxFix{
    margin: 10px;
}

.boxFooter{
    margin-left: -20;
}

/* video youtube */

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  